<div class="row">
  <div class="col-md-8">
		<br/>
		<br/>
		<br/>
		<h1>Parhelia</h1>
		<h2>安全、高效、高收益的投资及融资平台</h2>
		<br/>
		<a href='/users/new' class='btn btn-lg btn-success'>立即注册</a>
	</div>
	<div class="col-md-4">
		<%= render "form" %>
	</div>
</div>
