<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank_card_type.name %>
</p>

<%= link_to 'Edit', edit_bank_card_type_path(@bank_card_type) %> |
<%= link_to 'Back', bank_card_types_path %>
