<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guarantee_company.name %>
</p>

<%= link_to 'Edit', edit_guarantee_company_path(@guarantee_company) %> |
<%= link_to 'Back', guarantee_companies_path %>
