<br/>
<div class="row">
	<div class="col-md-2 col-md-offset-10">
		<%= link_to '新增省份', new_province_path, class: "btn btn-primary btn-sm pull-right" %>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-condensed table-hover haha-table-compact">
		<thead>
			<tr>
				<th>名称</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<%= render partial: "shared/dict_collection", collection: @provinces, as: :item %>
		</tbody>
	</table>
</div>

<%= will_paginate @provinces, renderer: BootstrapPagination::Rails, class: "pagination-sm" %>
