<h1>省份列表</h1>

<div class="table-responsive">
	<table class="table table-condensed table-hover haha-table-compact">
		<thead>
			<tr>
				<th>名称</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<%= render partial: "shared/dict_collection", collection: @provinces, as: :item %>
		</tbody>
	</table>
</div>


<%= will_paginate @provinces, renderer: BootstrapPagination::Rails, class: "pagination-sm" %>

<br>

<%= link_to 'New Province', new_province_path %>
