<nav class='navbar navbar-default navbar-fixed-top haha-nav' role='navigation'>
  <div class='container'>
    <div class="navbar-header">
      <button type='button' class="navbar-toggle" data-toggle='collapse' data-target='.navbar-collapse'>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class='haha-logo-container'>
        <a href="/">
          <%= image_tag "logo.svg", class: "haha-nav-logo-img" %>
        </a>
      </div>
    </div>
    <div class="navbar-collapse collapse haha-nav-container">
      <ul class="nav navbar-nav haha-navbar-nav-vpad-ext">
				<li><a href="/product/">产品列表</a></li>
				<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">管理 <b class="caret"></b></a>
          <ul class="dropdown-menu">
						<li><a href="/product/admin">产品管理</a></li>
						<li><a href="/user">用户管理</a></li>
						<li><a href="/platform/admin">平台管理</a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-right">
        <ul class="nav navbar-nav haha-navbar-nav-vpad-ext">
					<li>
            <a href="#">
              haha103 ( 刘玮 )
            </a>
          </li>
          <li>
						<a href="/session/destroy">
							退出
						</a>
					</li>
					<li><a href="/session/new">登录</a></li>
					<li><a href="/user/new">注册</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
